* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common-style */

.my-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.btn {
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn:hover {
    background-color: hsl(28, 92%, 50%);
}


.header-section {
    width: 95%;
    max-width: 1600px;
}

/* Main-style */

.nav-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;

}

.nav-container .img1 {
    margin: 16px;
    margin-left: 120px;
}

.nav-container ul {
    display: flex;
    margin: 34px auto;

}

.nav-container ul li {
    margin-right: 32px;
    list-style: none;
    font-size: 16px;
}

.nav-container button {
    margin: 24px 120px 0;
}

#banner {
    background-image: url("./assets/hero-bg.png");
    height: 674px;
    padding: 115px 120px 179px;

}

.banner-container {
    /* max-width: 1316px;
    justify-content: center; */
    /* display: flex; */
    max-width: 1360;
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#banner .banner-container .banner-information {
    font-size: 16px;
    color: #469165;
    background-color: #FFFFFF;
    max-width: 229px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 34px;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.banner-container h1 {
    font-size: 72px;

}

.banner-container .banner-heading {
    gap: 10px;
}

.banner-container .heading1 {
    color: #FFFFFF;
    /* margin-bottom: 8px; */

}

.banner-container .heading2 {
    color: #30B868;
    margin-bottom: 8px;
}

.banner-container .banner-text {
    font-size: 16px;
    /* line-height: 24px; */
    color: #FFFFFF;
    /* gap: 24px; */
    margin-bottom: 32px;

}

.banner-text .text1 {
    margin-bottom: 10px;
}

.banner-container .banner-button {
    display: flex;
    gap: 16px;
}

#features {
    max-width: 1600px;
}

#features .features-container {
    justify-content: center;
}

#features .features-container .features-heading {
    /* width: 1360px; */
    /* height: 152px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#features .features-container .features-heading h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 40px;
}

.features-heading p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.card {
    max-width: 1360px;
    display: flex;
    margin: 44px auto 120px;
    gap: 24px;

}

.card .card1 {
    width: 322px;
    height: 300px;
    box-shadow: #0000002b 0 0 8px 0;
}



.card .card-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50px;
    padding: 15px;
    margin: 69px auto 16px;
}

.card h4 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;

}

.card p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-left: 24px;
    margin-right: 24px;
}

#solution {
    max-width: 1600px;
    padding-left: 120px;
    padding-right: 120px;
}

#solution .solution-container {
    max-width: 1360px;
    display: flex;
    /* justify-content: space-between; */
    gap: 60px;
    align-items: center;
    margin-bottom: 120px;



}

/* 
.solution-container .solution-img {
    width: 600px;
    height: 600px;
    margin-bottom: 120px;
    border-radius: 12px;
    border: #F95555 2px;
} */

.solution-container .solution-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    /* height: 396px; */
    padding-right: 150px;
    align-items: left;
}

.solution-content .solution-content-heading {
    margin-bottom: 16px;
    color: #469165;
    line-height: 20px;
    /* margin: -102px;: ; */
}

.solution-content h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px
}

.solution-content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    color: #627382;
}

.solution-content li {
    list-style: none;
}

.solution-content .list-align {
    display: flex;
}

.list-align .flex {
    display: flex;
    flex-direction: column;
}

.list-align {
    gap: 6px;
}

.list-align li {
    margin-bottom: 16px;
}

.flex img {
    margin-bottom: 10px;
}

#challenge {
    max-width: 1600px;
}

#challenge .challenge-container {
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challenge-container h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
    color: #001931;
}

.challenge-container p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 16px;
    text-align: center;
}

.challenge-container button {
    margin-bottom: 16px;
}

footer {
    max-width: 1600px;
    height: 348px;
    background-color: #001931;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container .logo {
    margin-top: 120px;
    margin-left: 120px;
}

.social {
    margin-top: 120px;
    margin-right: 120px;
}

.social p {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.social .social-img {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

footer hr {
    margin: 61px auto;
    max-width: 1360px;

}

footer .copyright {
    font-size: 16px;
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 30px;
}