* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common-style */

.my-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.btn {
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Main-style */

.nav-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;

}

.nav-container .img1 {
    margin: 16px;
    margin-left: 120px;
}

.nav-container ul {
    display: flex;
    margin: 34px auto;

}

.nav-container ul li {
    margin-right: 32px;
    list-style: none;
    font-size: 16px;
}

.nav-container button {
    margin: 24px 120px 0;
}